In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [3]:
obj3['California']

True

In [4]:
import math
math.isnan(obj2['California'])

True

In [9]:
x = obj2['California']
obj2['California'] != x

True

In [10]:
x = obj2['California']
obj2['California'] != x

True

In [12]:
obj2['California'] == None

False

In [18]:

d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [20]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [23]:
S.loc

1    Alice
2      Bob
dtype: object

In [44]:
stu = [{
    'name':'okyere',
    'age':34,
    'new':'nana'
},
   { 'name':'evans',
    'age':20,
    'new':'love'}]
df = pd.DataFrame(stu, index=['shc1','sch2'])
df

        name  age   new
shc1  okyere   34  nana
sch2   evans   20  love

In [54]:
df['okyere']

KeyError: 'okyere'

In [36]:

df.rename(mapper = lambda x: x.upper(), axis = 1, inplace = True)

In [37]:
df.rename(mapper = lambda x: x.upper(), axis = 1)

        NAME  AGE   NEW
shc1  okyere   34  nana
sch2  okyere   34  nana

In [38]:
df = df.rename(mapper = lambda x: x.upper(), axis = 1)

In [40]:
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [ ]:
df['sch1']

In [42]:

s1.loc[1]

'Alice'

In [ ]:
ASSIGNMENT 2